body {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

form {
  display: none;
}
form.active {
  display: block;
}
fieldset {
  width: 22rem;
}
fieldset label {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
fieldset input,
fieldset select,
fieldset textarea {
  width: 20rem;
}
fieldset button {
  margin-top: 0.4rem;
  width: 10rem;
}

section div {
  display: flex;
  flex-flow: row wrap;
}

blockquote {
  width: 18rem;
}
blockquote cite {
  display: block;
  position: relative;
  font-size: 0.8rem;
}
